Singular.dmg
Singular.app/Contents/bin/ESingular
Singular.app/Contents/bin/LLL
Singular.app/Contents/bin/Singular
Singular.app/Contents/bin/Singularg
Singular.app/Contents/bin/TSingular
Singular.app/Contents/bin/change_cost
Singular.app/Contents/bin/gen_test
Singular.app/Contents/bin/libpolys-config
Singular.app/Contents/bin/libsingular-config
Singular.app/Contents/bin/solve_IP
Singular.app/Contents/bin/toric_ideal
Singular.app/Contents/share/
